{%extends "base.html" %}
{% block content %}
  <div id="file-upload" class="center row">
    <div class="col-12">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">EDF Dosyası Yükle</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="file-upload-form" role="form" enctype="multipart/form-data">
          <div class="card-body">
            <div class="form-group">
              <p><code id="name-error"></code></p>
              <label for="data-name">Veriseti Adı</label>
              <input type="text" class="form-control" id="data-name" placeholder="Veriseti için bir isim girin">
            </div>
            <div class="form-group">
              <p><code id="file-error"></code></p>
              <label for="InputFile">Dosya Girişi</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="file" class="custom-file-input" id="InputFile"  accept=".edf, .EDF">
                  <label class="custom-file-label" for="InputFile">Dosya Seç</label>
                </div>
                <div class="input-group-append">
                  <span id="upload-button" class="input-group-text" id="upload-button">Upload</span>
                </div>
              </div>
            </div>
          </div>

          <!-- /.card-body -->

          <div class="card-footer">
            <button id="final-submit" class="btn btn-primary" disabled>Onayla</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}